<div class="search">
  <div id="search-box">
    <h1>Hotel Directory</h1>
    <label>search: </label>
    <input ng-model="query" placeholder="Search for hotels" autofocus>
  </div>
  <div id="search-options" class="row">
    <div class="col-sm-5 text-center">
      <label class="formgroup">by:
        <select ng-model="hotelOrder">
          <option value="name">Name</option>
          <option value="region">Region</option>
          <option value="city">City</option>
        </select>
      </label>
    </div>
    <div class="col-sm-7 text-center search-direction">
      <label class="formgroup">
        <input type="radio" ng-model="direction" name="direction" checked>
        ascending
       </label>
      <label class="formgroup">
        <input type="radio" ng-model="direction" name="direction" value="reverse">
        descending
      </label>
    </div>
  </div>
</div>

<div id="hotelListDisplay" class="row">
	<ul class="hotelList">
	    <li class="singleHotelList  clearfix" ng-repeat="hotel in hotels | filter: query | orderBy: hotelOrder:direction">
		    <a href="#/hotels/{{hotels.indexOf(hotel)}}">
		        <img ng-src="img/{{hotel.shortname}}_tn.jpg" alt="Photo of {{hotel.name}}">
		        <div class="info">
		          <h2>{{hotel.name}}</h2>
		          <h3><span class="city">{{hotel.city}}</span>,<span class="region">{{hotel.region}}</span></h3>
              <h4>{{hotel.excerpt}}</h4>
		        </div>
		    </a>
	    </li>
  	</ul> 
</div>