<div class="row" ng-controller="UpdateHotelController">
    <div class="col-xs-8">
        <form name="hotelForm" ng-submit="updateHotel()" ng-model="hotel" class="form-horizontal"  novalidate role="form">
			<div class="form-group" ng-class="{'has-error':hotelForm.name.$dirty && hotelForm.name.$invalid}">
			    <label for="name" class="col-sm-2 control-label">Hotel Name</label>
			    <div class="col-sm-10">
			        <input type="text" name="name" ng-model="hotel.name" ng-required="true" class="form-control" id="FormHotelName" placeholder="Hotel Name" value="{{hotel.name}}">
			        <span class="error-message" ng-show="hotelForm.name.$dirty && hotelForm.name.$invalid">Hotel Name is mandatory!</span>
			    </div>
			</div>
			<div class="form-group" ng-class="{'has-error':hotelForm.city.$dirty && hotelForm.city.$invalid}">
			    <label for="city" class="col-sm-2 control-label">City</label>
			    <div class="col-sm-10">
			        <input type="text" name="city" ng-model="hotel.city" ng-required="true" class="form-control" id="FormHotelCity" placeholder="city">
			        <span class="error-message" ng-show="hotelForm.city.$dirty && hotelForm.city.$invalid">City location is mandatory!</span>
			    </div>
			</div>
			<div class="form-group" ng-class="{'has-error':hotelForm.region.$dirty && hotelForm.region.$invalid}">
			    <label for="region" class="col-sm-2 control-label">Region</label>
			    <div class="col-sm-10">
			        <input type="text" name="region" ng-model="hotel.region" ng-required="true" class="form-control" id="FormHotelRegion" placeholder="Region">
			        <span class="error-message" ng-show="hotelForm.region.$dirty && hotelForm.region.$invalid">Region location is mandatory!</span>
			    </div>
			</div>
			<div class="form-group" ng-class="{'has-error':hotelForm.image.$dirty && hotelForm.image.$invalid}">
				<label for="image_id" id="set_image_button" class="col-sm-2 control-label" ng-click="showImageLightbox()" >Add Image</label>
				<div class="col-sm-10">
					<input type="text" name="image_id" ng-model="hotel.image_id" class="form-control" id="FormHotelImage">
					<span class="error-message" ng-show="hotelForm.image.$dirty && hotelForm.image.$invalid">Image is mandatory!</span>
					<img id="selected_image" src="backend/uploads/no-image.jpg">
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error':hotelForm.shortname.$dirty && hotelForm.shortname.$invalid}">
			    <label for="shortname" class="col-sm-2 control-label">Shortname</label>
			    <div class="col-sm-10">
			        <input type="text" name="shortname" ng-model="hotel.shortname" ng-required="true" class="form-control" id="FormHotelShortname" placeholder="shortname">
			        <span class="error-message" ng-show="hotelForm.shortname.$dirty && hotelForm.shortname.$invalid">Shortname is mandatory!</span>
			    </div>
			</div>
			<div class="form-group" ng-class="{'has-error':hotelForm.description.$dirty && hotelForm.description.$invalid}">
			    <label for="description" class="col-sm-2 control-label">Description</label>
			    <div class="col-sm-10">
			        <textarea rows="10" col="150" type="text" name="description" ng-model="hotel.description" ng-required="true" class="form-control" id="FormHotelDescription" placeholder="description"></textarea>
			        <span class="error-message" ng-show="hotelForm.description.$dirty && hotelForm.description.$invalid">Description is mandatory!</span>
			    </div>
			</div>
			<div class="form-group" ng-class="{'has-error':hotelForm.excerpt.$dirty && hotelForm.excerpt.$invalid}">
			    <label for="excerpt" class="col-sm-2 control-label">Excerpt</label>
			    <div class="col-sm-10">
			        <input type="text" name="excerpt" ng-model="hotel.excerpt" ng-required="true" class="form-control" id="FormHotelExcerpt" placeholder="excerpt">
			        <span class="error-message" ng-show="hotelForm.excerpt.$dirty && hotelForm.excerpt.$invalid">Excerpt is mandatory!</span>
			    </div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			        <button type="submit" name="submit" class="btn btn-success" >Update Hotel</button>
			    </div>
			</div>           
        </form>		  
	</div>	  
</div>
<div id="setImageLightbox">
  <div ng-include="'modules/images/views/uploadImageLightbox.html'"></div>
</div>
