#set_image_button {
	cursor: pointer;
}

#close_image_lightbox {
	cursor: pointer;
	font-size: 30px;
	background-color: red;
	border-radius: 25px;
	width: 50px;
	padding: 10px;
	text-align: center;
}

#setImageLightbox {
	display: none;
}

.image {
	cursor: pointer;
}

.image_selected {
	border: solid 2px red;
}